@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Peliculas</title>
</head>
<body>
   
    <a asp-controller="Genero" asp-action="Index">Ver Generos</a><br />
    <a asp-controller="Genero"asp-action="FormAlta">Alta Genero</a>
 <br/>
  <br/>

    <a asp-controller="Pelicula" asp-action="Index">Ver Peliculas</a><br />
    <a asp-controller="Pelicula"asp-action="FormAlta">Alta Pelicula</a>

</body>
</html>