@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Peliculas</title>
</head>
<body>
   
    <a asp-controller="Genero" asp-action="Index">Ver Generos</a><br />
    <a asp-controller="Genero"asp-action="FormAlta">Alta Genero</a>
</body>
</html>