.a{
  border: 1px solid black;
}
.b{
  width: 100%;
  border-collapse: collapse;

}
.c{
  text-align: center;
}

.g1{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 10%;

}
.g2 {
  border: 1px solid #ddd;
  padding: 8px;
}

.g3{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(69, 66, 77, 0.096);
  color: white;
}
.d{
  padding-left: 35%;
}