@model Peli.Core.Productora
@{
    Layout =null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detalle - Pelicula</title>
</head>
<body>
    <h1>Detalle</h1>
    <h3 > Nombre: @Model.Nombre </h3>
    <table>
        <thead>
            <tr>
                <th>Peliculas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Peli.Core.Pelicula pelicula in Model.Peliculas)
            {
            <tr>
                <td>
   <a asp-controller="Pelicula" asp-action="Detalle" asp-route-id="@pelicula.Id">@pelicula.Titulo</a>

                </td>
            </tr>
            }
        </tbody>
    </table>
    <button>
<a asp-controller="" asp-action="Index"> inicio </a>
</button>
</body>
</html>