@model Peli.Core.Productora
@{
    Layout = "_Layout3";
}
<!DOCTYPE html>
<head>
    <title>Pelicula - Productora</title>
</head>
<body>
    <form asp-action="FormAlta" method="post">
        <div asp-validation-summary="All"></div>
        <div  class="field is-horizontal ">
            <label class = "la" asp-for="Nombre">PRODUCTORA: </label>
            <input class="input is-link" asp-for="Nombre" />
        </div>
        <button type="submit">Alta Productora</button>
    </form>
</body>
</html>