@model IEnumerable<Peli.Core.Productora>
@{
  Layout = "_Layout2";
}

<html>

<head>
  <title>Productora</title>
</head>
<body>
  <div class="isolate">
  <div class="second obj">
  <h1 class="c">PRODUCTORA</h1>
  <table class="table is-bordered">
    <thead>
      <tr>
        <th class="g3">Nombre</th>
      </tr>
    </thead>
    <tbody>
      @foreach (Peli.Core.Productora productora in Model)
      {
        <tr>
          <td class="g2"><a asp-controller="Productora" asp-action="Detalle"
            asp-route-id="@productora.Id">@productora.Nombre</a> </td>
        </tr>
      }
    </tbody>
  </table>
  <button class="bu">
    <a asp-controller="" asp-action="Index">Inicio</a>
  </button>
  </div>
  </div>
</body>
</html>