@model IEnumerable<Peli.Core.Productora>
@{
    Layout = null;
}

<html>
<head>
    <title>Productora</title>
</head>
<body>
    <h1>PRODUCTORA</h1>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      @foreach (Peli.Core.Productora productora in Model)
      {
        <tr>

          <td><a asp-controller="Productora" asp-action="Detalle" asp-route-id="@productora.Id">@productora.Nombre</a> </td>
        </tr>
      }
    </tbody>
  </table>
  <br>
  <button>
<a asp-controller="" asp-action="Index">Inicio</a>
</button>
</body>
</html>