@model Peli.Core.Pelicula
@{
    Layout = "_Layout2";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detalle - Pelicula</title>
</head>
<body>
    <h1 class="c">Detalle</h1>
    <table class=" table is-bordered">
        <thead>
            <tr>
                <th class="g3">Duracion</th>
                <th class="g3">FechaEstreno</th>
                <th class="g3">Genero</th>
            </tr>
        </thead>
        <tbody>
         <td class="g2">@Model.Duracion</td> 
         <td class="g2">@Model.FechaEstreno</td>
         <td class="g2">@Model.genero.Nombre</td>
        </tbody>
    </table>
    <button>
<a asp-controller="" asp-action="Index">Inicio</a>
</button>
</body>
</html>