@using Peli.Core;
@model IEnumerable<Pelicula>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    div.a {
      text-align: center;
    }
    </style>

    <title>Detalle </title>
</head>
<body>
    <div class="a">
        <h3>Detalle De La Pelicula</h3>
    </div>
 <table>
    <thead>
        <tr>
            <td>TITULO</td>
            <td>DESCRIPCION</td>
            <td>GENERO</td>
            <td>PRODUCTORA</td>
        </tr>
        <tr>
        </tr>
    </thead>
 </table>
</body>
</html>