@model Peli.Core.Pelicula
@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <title>Pelicula - Peliculas</title>
</head>
<body>
    <form asp-action="FormAlta" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Titulo">PELICULAS:</label>
            <input asp-for="Titulo" />
        </div>
        <button type="submit">Alta Pelicula</button>
    </form>
</body>
</html>