@model IEnumerable<Peli.Core.Pelicula>
@{
  Layout = "_Layout2";
}
<html>

<head>
  <title> Peliculas</title>
  </div>
</head>

<body>
  <div class="isolate">
  <div class="second obj">
    <h1 class="c">PELICULAS</h1>
  <table class="table is-bordered">
    <thead>
      <tr>
        <th class="g3">Titulo</th>
        <th class="g3">Descripcion</th>
      </tr>
    </thead>
    <tbody>
      @foreach (Peli.Core.Pelicula pelicula in Model)
      {
        <tr>

          <td class="g2"><a asp-controller="Pelicula" asp-action="Detalle" asp-route-id="@pelicula.Id">@pelicula.Titulo</a> </td>
          <td class="g2"><a asp-controller="Pelicula" asp-action="Detalle" asp-route-id="@pelicula.Id">@pelicula.Descripcion</a></td>
        </tr>
      }
    </tbody>
  </table>
  <br>
  <button class="bu">
<a asp-controller="" asp-action="Index">Inicio</a>
</button>
</div>
</div>
</body>

</html>
