@model Peli.Core.Genero
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Detalle - Genero</title>
</head>

<body>
    <h1>Detalle</h1>
    <h3> Nombre: @Model.Nombre </h3>
    <table>
        <thead>
            <tr>
                <th>Peliculas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Peli.Core.Pelicula pelicula in Model.Peliculas)
            {
                <tr>
                    <td>@pelicula.Titulo</td>
                </tr>
            }
        </tbody>
    </table>
    <button>
        <a asp-controller="" asp-action="Index"> inicio </a>
    </button>
</body>

</html>