@model Peli.Core.Genero
@{
    Layout = null;
}
<html>
    <head>
        <title>Peliculas - Genero</title>
    </head>
    <body>
<h1>Generos</h1>
<table>
    <thead>
    <td>Nombre</td>
    </thead>
</table>
    </body>
</html>