@model  IEnumerable<Peli.Core.Genero>
@{
    Layout = null;
}
<html>
    <head>
        <title>Pelicula - Genero</title>
    </head>
    <body>
<h1>Generos</h1>
<table>
    <thead>
    <td>Nombre</td>
    </thead>
    <tbody>
    @foreach (Peli.Core.Genero genero in Model)
    {
        <tr>
        <td>
        <a asp-controller="Genero" asp-action="Detalle" asp-route-id="@genero.Id">@genero.Nombre</a> 
        </td>
        </tr>
    }
    </tbody>
</table>
    </body>
</html>