@model  IEnumerable<Peli.Core.Genero>
@{
    Layout = "_Layout2";
}
<html>
    <head>
        <title>Pelicula - Genero</title>
    </head>
    <div class="isolate">
    <div class="second obj">
    <body>
<h1 class="c">Generos</h1>
<table class="table is-bordered">
    <thead>
        <tr>
    <th class="g3">Nombre</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Peli.Core.Genero genero in Model)
    {
        <tr>
        <td class="g2">
        <a asp-controller="Genero" asp-action="Detalle" asp-route-id="@genero.Id">@genero.Nombre</a> 
        </td>
        </tr>
    }
    </tbody>
</table>
<br>
  <button>
<a asp-controller="" asp-action="Index">Inicio</a>
</button>
    </body>
    </div>
    </div>
</html>